* {
    margin: 0px;
    padding: 0px;
    
}

.number-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    border: solid red;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: auto;
}

button {
    flex: 1;
    margin: 5px;
    padding: 25px;
}

@media (max-width: 768px) {
    button {padding: 10px;}
}

@media (max-width: 480px){
    button {padding: 3px;}
}